* { box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    display:flex;
    flex-direction:column;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 3px 25px;
    border-bottom: 5px rgb(40, 97, 18) solid;
    width: 100%;
    background-color: red;
    background-image: linear-gradient(to bottom left, rgb(112, 112, 253), red, yellow);
}

.name {
    display:flex;
    font-size: 50px;
    color: gold;
    text-shadow: 3px -1px 5px green;
    font-family: fangsong;
}

header p .Tikimaniac77 {
    color: darkgreen;
}

header p {
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    
}

.header-bio {
    display:flex;
    justify-content: center;
    color: gold;
    text-shadow: 5px -1px 5px green;
    font-size: 24px;
}

nav ul {
    display:flex;
    justify-content: flex-end;  
}

nav li {
    padding: 10px 10px 0px 10px;
}

#content {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    flex: 1;
    background-color: rgb(9, 19, 0);
    background-image: linear-gradient(to top left, rgb(9, 19, 0), green, yellow);

    

}

#content div {
    display:flex;
    border: 1px gold solid;
    height:300px;
    
}

#content h1 {
    display: flex;
    align-items: center;
    border-right: 1px solid gold;
    width: 25%;
    justify-content:center;
    padding:10px;
    font-size: 34px;
    color: gold;
    text-shadow: 3px -1px 5px black;
    font-family: fangsong;
    

}